<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Multon_Estpay>
            <version>2.2.1</version>
        </Multon_Estpay>
    </modules>
    <global>
        <models>
            <estpay>
                <class>Multon_Estpay_Model</class>
            </estpay>
        </models>
        <blocks>
            <estpay>
                <class>Multon_Estpay_Block</class>
            </estpay>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Multon_Estpay>
                    <files>
                        <default>Multon_Estpay.csv</default>
                    </files>
                </Multon_Estpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Multon_Estpay>
                    <file>multon/estpay.xml</file>
                </Multon_Estpay>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Multon_Estpay>
                    <file>multon/estpay.xml</file>
                </Multon_Estpay>
            </updates>
        </layout>
        <routers>
            <estpay>
                <use>standard</use>
                <args>
                    <module>Multon_Estpay</module>
                    <frontName>estpay</frontName>
                </args>
            </estpay>
        </routers>
        <translate>
            <modules>
                <Multon_Estpay>
                    <files>
                        <default>Multon_Estpay.csv</default>
                    </files>
                </Multon_Estpay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <multon_seb>
                <active>0</active>
                <title>SEB</title>
                <order_status>pending</order_status>
                <gateway_url>https://www.seb.ee/cgi-bin/unet3.sh/un3min.r</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/seb</model>
                <payment_action>authorize</payment_action>
            </multon_seb>
            <multon_nordea>
                <active>0</active>
                <title>Nordea</title>
                <order_status>pending</order_status>
                <gateway_url>https://netbank.nordea.com/pnbepay/epayn.jsp</gateway_url>
                <service_provider></service_provider>
                <mac_key></mac_key>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/nordea</model>
                <payment_action>authorize</payment_action>
            </multon_nordea>
            <multon_swedbank>
                <active>0</active>
                <title>Swedbank</title>
                <order_status>pending</order_status>
                <gateway_url>https://www.swedbank.ee/banklink</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/swedbank</model>
                <payment_action>authorize</payment_action>
            </multon_swedbank>
            <multon_danske>
                <active>0</active>
                <title>Danske</title>
                <order_status>pending</order_status>
                <gateway_url>https://www2.danskebank.ee/ibank/pizza/pizza</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/danske</model>
                <payment_action>authorize</payment_action>
            </multon_danske>
            <multon_krediidipank>
                <active>0</active>
                <title>Krediidipank</title>
                <order_status>pending</order_status>
                <gateway_url></gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/krediidipank</model>
                <payment_action>authorize</payment_action>
            </multon_krediidipank>
            <multon_estcard>
                <active>0</active>
                <title>VISA / Mastercard</title>
                <order_status>pending</order_status>
                <gateway_url>https://pos.estcard.ee/ecom/iPayServlet</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/estcard</model>
                <payment_action>authorize</payment_action>
            </multon_estcard>
            <multon_lhv>
                <active>0</active>
                <title>LHV</title>
                <order_status>pending</order_status>
                <gateway_url>https://www.lhv.ee/banklink</gateway_url>
                <vk_snd_id></vk_snd_id>
                <private_key></private_key>
                <bank_certificate></bank_certificate>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>estpay/lhv</model>
                <payment_action>authorize</payment_action>
            </multon_lhv>
        </payment>
    </default>
</config>