<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Multon_Payment>
            <version>2.3.3</version>
        </Multon_Payment>
    </modules>
    <global>
        <models>
            <multonpay>
                <class>Multon_Payment_Model</class>
            </multonpay>
            <sales>
                <rewrite>
                    <order_payment>Multon_Payment_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <multonpay>
                <class>Multon_Payment_Helper</class>
            </multonpay>
        </helpers>
        <blocks>
            <multonpay>
                <class>Multon_Payment_Block</class>
            </multonpay>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Multon_Payment>
                    <file>multon/payment.xml</file>
                </Multon_Payment>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Multon_Payment>
                    <file>multon/payment.xml</file>
                </Multon_Payment>
            </updates>
        </layout>
	</frontend>
</config>
